body{
    font-family: Helvetica;
    margin: 20;
}
.des-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 20px;
}
.des-container{
    width:300px;
    margin-bottom: 20px;
}
.netSvgGraph {
    margin-top: 70px;
    margin-left: 200px;
}

.caption{
    /* margin-left: 1200px; */
    margin-top: 400px;
}
.first-container{
    display: flex;
    margin-top: 120px;
}
.instructions{
    text-align: center;
    margin-right: 100px;
    margin-top: 20px;
    
}
.statement{
    margin-top: 80px;
    margin-bottom:80px;
    
}
